* {
    margin: 0;
    padding: 0;
}

/* HAUT DE PAGE */

header {
    height: 100px;
    width: 100%;
    background-color: #34495e;
    color: white;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    
}

nav ul {
    list-style-type: none;
    
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;   
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li:hover a {
    color: #e74c3c;
    transition: 0.5s all;
}

/* MILIEU DE PAGE */

#cover-page {
    height: 900px;
    width: 100%;
    background-image: radial-gradient(circle, #34495e, #32465a, #304357, #2e4153, #2c3e50);
}

#cover-page a {
    color: white;
    text-decoration: none;
    padding: 30px;
    border-radius: 10px;
    background-color: #e74c3c;
    font-size: 22px;
}

#cover-page:hover a {
    color: #e74c3c;
    background-color: white;
    transition: 0.5s all;
}
